<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divina Arcana</title>
    <link rel="stylesheet" href="style.css">
</head>
<table>
    <h1>Welcome to Friend Finder!</h1>
    <div>
        <p> {{email}}, welcome to Friend Finder - where finding like-minded friends is just a click away! We're thrilled to have you join our community of explorers, creators, and enthusiasts.
        </p>
        <p><strong>What's Next?</strong></p>
        <p><strong>1. Complete Your Profile:</strong>Tell us a bit about yourself and your interests so we can connect you with people who share your passions.</p>
        <p><strong>2. Explore Interests:</strong>Browse through various interest categories to find communities, events, and friends who enjoy the same things you do.</p>
        <p><strong>3. Start Connecting:</strong>Join groups, participate in discussions, and reach out to people who catch your interest. Building meaningful connections has never been easier.</p>
        <p>To get started, please confirm your email below:</p>
        <p>http://localhost:3000/nobots/verification?email={{email}}&token={{token}}</p>
        <p> 
            <a href=`http://localhost:3000/nobots/verification?email={{email}}&token={{token}}` target="_blank">HERE</a>
        </p>
        <p>Feel free to reach out to our support team if you have any questions or need any help.</p>
        <p>Best regards,</p>
        <p>The Friend Finder Team</p>
    </div>
</table>